<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC
  "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="ErrorAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="file" value="${logging.directory}server_err.log" />
		<param name="MaxBackupIndex" value="${max.file.backup}" />
		<param name="MaxFileSize" value="${max.file.size}" />
		<param name="Threshold" value="ERROR" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>
	<appender name="FileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="encoding" value="UTF-8" />
		<param name="file" value="${logging.directory}server.log" />
		<param name="MaxBackupIndex" value="${max.file.backup}" />
		<param name="MaxFileSize" value="${max.file.size}" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{ISO8601}]%5p%6.6r[%t]%x - %C.%M(%F:%L) - %m%n" />
		</layout>
	</appender>

	<logger name="com.manager.store" additivity="false">
		<level value="${log.level.internal}" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ErrorAppender" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.springframework" additivity="false">
		<level value="${log.level.external}" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ErrorAppender" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="org.hibernate" additivity="false">
		<level value="${log.level.external}" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ErrorAppender" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.mchange" additivity="false">
		<level value="${log.level.external}" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ErrorAppender" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root>
		<level value="${log.level.internal}" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="ErrorAppender" />
		<appender-ref ref="STDOUT" />
	</root>

</log4j:configuration>